<ul>
  <li><a href="">All Recipes</a></li>
  <li><a href="#users/new">Sign Up</a></li>
  <li><a href="#session/new">Sign In</a></li>
  <li><a href="#search">Search</a></li>
  <li><a href="#recipes/new">Submit Recipe</a></li>
  <li><a href="#favorites">Favorite Recipes</a></li>
  <%= button_to("Sign Out", session_url, :method => "delete") if logged_in?%>
</ul>