<script id="bootstrapped-categories">
  <%= Category.all.to_json.html_safe %>
</script>

<% if logged_in? %>
  <script id="bootstrapped-current-user">
    <%= current_user.to_json.html_safe %>
  </script>
  
<% else %>
  <script id="bootstrapped-current-user">
    <%= "undefined".to_json.html_safe %>
  </script>
<% end %>


<div id="nav-section">
</div>

<div id="alerts-section">
</div>

<div class="container">
  
</div>