<script id="bootstrapped-categories">
  <%= Category.all.to_json.html_safe %>
</script>

<script id="bootstrapped-current-user">
  <%= logged_in? ? current_user.to_json.html_safe : "undefined".to_json.html_safe %>
</script>

<div id="nav-section">
</div>

<div id="content">
</div>