<h1>Sign Up</h1>

<form id="sign-up">         
  <label for="username">Username</label>
  <input type="text" name="username" id="username">
  
  <label for="email">Email</label>
  <input type="text" name="email" id="email">
  
  <label for="password">Password</label>
  <input type="password" name="password" id="password">
  
  <button type="submit" id="sign-up-button">Sign Up</button>
</form>