<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.email %> wants you to check out this recipe</h1>
    <a href="<%= @url %>">peep the tasty goodies</a>
    <br>
    <p>Enjoy!</p>
    <br>
    <p>From the folks at veg-foodgawker :)</p>
  </body>
</html>