<h1>Sign In</h1>

<form id="sign-in-form">
  <label for="username">Username</label>
  <input type="text" name="user[username]" id="username">
  
  <label for="password">Password</label>
  <input type="password" name="user[password]" id="password">
  
  <button type="submit" id="sign-in-button">Sign Up</button>
</form>