<div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Sign In</h4>
      </div>
      <div class="modal-body">
        
        <!-- <form id="sign-in-form">
          <label for="username">Username</label>
          <input type="text" name="user[username]" id="username">
          <br>
          <label for="password">Password</label>
          <input type="password" name="user[password]" id="password">
          <br>
          
        </form> -->
        
        
        <form id="sign-in-form" class="form-horizontal" role="form">
          <div class="form-group">            
            <label for="username" class="col-sm-2 control-label">
              Username
            </label>
                <div class="col-sm-10">
                  <input class="form-control" type="text" name="user[username]" id="username">
                </div>
          </div>
          
          <div class="form-group">                        
            <label for="password" class="col-sm-2 control-label">
              Password
            </label>
                <div class="col-sm-10">
                  <input class="form-control" type="password" name="user[password]" id="password">
                </div>
          </div>
        </form>
        
        
      </div>
      <div class="modal-footer">
        <button type="button" id="sign-in-button" class="btn btn-default" data-dismiss="modal">Sign In</button>
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->