<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="keyword" class="col-sm-2 control-label">Search By Keyword</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" name="keywords" id="keyword">
        </div>
  </div>

  <label class="col-sm-2 control-label">Categories</label>
  <div class="form-group col-sm-offset-2 col-sm-10">
    <div class="btn-group" data-toggle="buttons">
      <% FoodgawkerApp.Data.categories.forEach(function(category) { %>
      <label class="btn btn-primary">
        <input type="checkbox" 
               id="<%= category.name %>" 
               name="category_ids[]"
               value="<%= category.id %>"><%= category.name %>
      </label>
      <% })%>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" id="search-button" class="btn btn-default">Search</button> 
    </div>
  </div>
</form>

<div id="results">
</div>
