<form id="search-form">
  
  <label for="keyword">Search By Keyword</label>
  <input type="text" name="keywords" id="keyword">
  
  <label>Filter by Category</label>

  <% FoodgawkerApp.Data.categories.forEach(function(category) { %>
    <input type="checkbox" 
           id="<%= category.name %>" 
           name="category_ids[]"
           value="<%= category.id %>">
    <label for="<%= category.name %>"><%= category.name %></label>
  <% })%>

  <button id="search-button">Search</button>  
</form>

<div id="results">
</div>