/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 @import "bootstrap";
 
 
 /* Submit Recipe Form */
label.form-label {
   font-size: 16px;
   font-family: "Josefin Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
   width: 100px;
 }
 
div.submit-form {
  width: 600px;
}

 label.category {
   word-wrap: break-word;
   font-size: 14px;
   font-weight: bold;
 }

.upload {
  padding-top: 7px;
}
 
img#preview {
  overflow: hidden;
  z-index:0;
  border-style: solid;
  border-width: 3px;
  border-color:white;
}
 
div#noImg {
  position: absolute;
  left: 5%;
  right: 0;
  height: 275px;
  width: 275px;
  color: white;
  background-color: gray;
  z-index: 1px;
}
 
h4#uploadText {
  position:absolute;
  left: 10%;
  top: 41%;
  width: 225px;
}
 
/************/

/* Detail Modal */
div.detail-header {
  padding:7px;
}
h4.modal-title {
  font-size: 19px;
  font-weight: bold;
}
div.detail-body {
  padding:10px;
}
div.detail-modal {
  height: 700px;
} 

img.large{
  width: 375px;
  height: 375px;
}
 
 
.nav, .navbar-fixed-top, .navbar-nav {
   background-color: #7be0a5;
   opacity:0.9;
   padding-bottom: 0;
   margin-bottom:0;
 }
  
.col-xs-1 {
  margin: 0;
  width: 25px;
  height: 25px;
  display: inline-block
}

.shadow {
  -moz-box-shadow:    3px 3px 5px 0px #ccc;
  -webkit-box-shadow: 3px 3px 5px 0px #ccc;
  box-shadow:         3px 3px 5px 0px #ccc;
}
 
 div.row.index{
   height: 450px;
 }
 
 p.detail-desc {
   height: 65px;
 }
 
 p {
   font-family: "Helvetica"
 }
 
 a {
   cursor: pointer;
 }
  
 
 .hover-header {
   font-weight: bold;
   height: 275px;
   width: 275px;
   cursor: pointer;
   display: none;
   position: absolute;
   left: 14px;
   top: 0;
   z-index: 1px;
 }


.hover-header-text {
  word-wrap: break-word;
  color: white;
  position: absolute;
  left: 11%;
  top: 41%;
  width: 225px;
  z-index: 1px;

} 
 .modal-content {
   background-color: #E7E6E6;
   opacity: 0.9;
 }
 
 body {
   padding-top: 70px;
 }
 
 img.small{
   z-index: 0;
   overflow: hidden;
   width: 275px;
   height: 275px;
 }
 
 img.overlay {
   display: none;
   background-color: gray;
   opacity: 0.8;
   position: absolute;
   left: 15px;
   top: 0px;
   z-index: 0px;
 }
 
 div.col-sm-3{
   padding: 15px;
 }
 
 div.row {
   padding: 10px;
 }
 
 .nav-bar-btn {
   margin-top: 8px;
   margin-right: 15px;
 }
 
 .navbar-brand {
   font-size: 25px;
   font-weight: 650;
 }
 
 #app-nav {
   font-size: 17px;
 }
 
 .btn-primary {
   background-color: hsl(145, 62%, 68%) !important;
   background-repeat: repeat-x;
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cdf3dd", endColorstr="#7adfa4");
   background-image: -khtml-gradient(linear, left top, left bottom, from(#cdf3dd), to(#7adfa4));
   background-image: -moz-linear-gradient(top, #cdf3dd, #7adfa4);
   background-image: -ms-linear-gradient(top, #cdf3dd, #7adfa4);
   background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cdf3dd), color-stop(100%, #7adfa4));
   background-image: -webkit-linear-gradient(top, #cdf3dd, #7adfa4);
   background-image: -o-linear-gradient(top, #cdf3dd, #7adfa4);
   background-image: linear-gradient(#cdf3dd, #7adfa4);
   border-color: #7adfa4 #7adfa4 hsl(145, 62%, 63%);
   color: #333 !important;
   text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
   -webkit-font-smoothing: antialiased;
 }
 
