/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 @import "bootstrap";
 
 body {
   padding-top: 70px;
 }
 
 img.small{
   width: 275px;
   height: 275px;
 }
 
 img.large{
   width: 475px;
   height: 475px;
 }
 
 div.col-sm-3{
   padding: 15px;
 }
 
 div.row {
   padding: 10px;
 }
 
 h4 {
   font-weight: bold;
 }
 
 .nav-bar-btn {
   margin-top: 8px
 }
 
 .nav, .navbar {
   background-color: #7be0a5;
   opacity:0.9;
 }
 
 .btn-primary {
   background-color: hsl(145, 62%, 68%) !important;
   background-repeat: repeat-x;
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cdf3dd", endColorstr="#7adfa4");
   background-image: -khtml-gradient(linear, left top, left bottom, from(#cdf3dd), to(#7adfa4));
   background-image: -moz-linear-gradient(top, #cdf3dd, #7adfa4);
   background-image: -ms-linear-gradient(top, #cdf3dd, #7adfa4);
   background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cdf3dd), color-stop(100%, #7adfa4));
   background-image: -webkit-linear-gradient(top, #cdf3dd, #7adfa4);
   background-image: -o-linear-gradient(top, #cdf3dd, #7adfa4);
   background-image: linear-gradient(#cdf3dd, #7adfa4);
   border-color: #7adfa4 #7adfa4 hsl(145, 62%, 63%);
   color: #333 !important;
   text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
   -webkit-font-smoothing: antialiased;
 }